services:
  - type: web
    name: url-shortener-backend
    env: node
    buildCommand: cd server && npm install
    startCommand: cd server && npm start
    
  - type: web
    name: url-shortener-ai
    env: python
    buildCommand: cd ai-service && pip install -r requirements.txt
    startCommand: cd ai-service && gunicorn src.main:app --workers 2 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8001

databases:
  - name: url-shortener-db
    databaseName: shortener
    user: admin
